.about {
    background-image: url('../images/about.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 400px;
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
    filter: grayscale(100%);
}


.about-text {
    margin: 0 0 0 auto;
    text-align: left;
    max-width: 330px;
    background: inherit;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: invert(1);
}

.about-body {
    font-size: large;
}

