.navbar {
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: 100px;
    background: #F0F0F0	;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: height ease .5s;
    z-index: 1;
}

.nav-list {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}

.sub-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all ease .5s;
}

.nav-item {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: Andalus ;
    cursor: pointer;
    margin: auto;
}

.nav-header {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    font-style: italic;
}


.nav-link-active {
    border-bottom: 1px black solid;
}


.special-letter {
    font-weight: bolder !important;
    font-size: xx-large;
}

.burger-container {
    margin: 10px;
    visibility: hidden;
    cursor: pointer;
    width: 0;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
}

.burger {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
}




@media only screen and (max-width: 1040px) {
    .navbar {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        position: relative;

    }
    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .sub-links {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 30px;
        visibility: hidden;
    }

    .burger-container {
        visibility: visible;
        width: auto;
    }

    .navbar-expanded {
        height: 330px;
    }

    .sub-links-active {
        visibility: visible !important;
    }
}